.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,.loginRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 24px;

}

.loginBox{
    background-color: white;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.loginInput{
    outline: none;
    height: 50px;
    border-radius: 10px;
    border: 1px solod gray;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1775ee;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    

}

.loginForgot{
    text-align: center;
    color:  #1775ee;
}

.loginCreateButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #19a91c;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}
